@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-rose: #9D8189;
  --middle-rose: #F4ACB7;
  --light-rose: #FFCAD4;
  --light-skintone: #FFE5D9;
  --light-green: #D8E2DC;
}

body {
  background-color: var(--light-green);
}
